@model Space.Models.Itinerary

@{
    ViewData["Title"] = "ViewItinerary";
}

<h1>ViewItinerary</h1>

<div>
    <h4>Itinerary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItineraryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItineraryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredForms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredForms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhatToBring)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhatToBring)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Depature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Depature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThreeWeeksPrior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThreeWeeksPrior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayOfLaunch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayOfLaunch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arrival)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arrival)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhatToDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhatToDo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlyingBack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlyingBack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentityUserId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
